.homeabout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px;
    /* background-color: aqua; */
}

.homeabout .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
}

.homeabout .row .left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px;
    margin: 0px 0px;
}

.homeabout .row .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.homeabout .row .right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px;
    margin: 0px 0px;
}



.homeabout .row .right p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    word-spacing: 5px;
}

.homeabout .row .right span{
    color: var(--col3);
    font-weight: bolder;
}

.homeabout .row .right a{
    color: var(--col2);
}
