.homesliderout {
    display: flex;
    justify-content: center;
}

.homeslider {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background: white;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeslider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    color: #ffffff;
    transition: all 0.6s ease-in-out;
    z-index: 2;
    background-color: black;
    margin: 0px 10px;
    padding: 10px 10px;
}


.homeslider .leftbtn {
    left: 0;
}

.homeslider .rightbtn {
    right: 0;
}

.homeslider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
}

.homeslider button:hover {
    background-color: #00000025;
    color: white;

}

.homeslider .slidertext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    color: white;
    z-index: 2;
    /* text-align: center; */

    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    animation: fromtop 1s ease-in-out;
}

.homeslider .slidertext h1 {
    font-size: 5rem;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.homeslider .slidertext h2 {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--col2);
}

.homeslider .slidertext h3 {
    font-size: 2.2rem;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.homeslider .slidertext h4 {
    border: 1px solid var(--col2);
    padding: 10px 20px;
    font-size: 2.1rem;
    font-weight: 100;
    width: 250px;
    margin-top: 20px;
}

.homeslider .slidertext h4:hover {
    background-color: var(--col2);
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.6s ease-in-out;
}

/* add a black blur over img */
.homeslider .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.zoominandfade {
    animation: zoominandfade 3s ease-in-out;
}



@keyframes zoominandfade {
    0% {
        opacity: 0.9;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes fromtop {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

