.contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.contactin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    padding: 50px 0px;
}

.contactin .description{
    font-weight: 400;
    font-size: 18px;
    margin-right: 20px;
    width: 40%;
}

.contactin .description span{
    font-weight: 700;
}

.contactin .description a{
    color: var(--col2);
    text-decoration: none;
    font-weight: 700;
}

 .contact form{
    width:60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-self: center;
    margin: 50px 0px;
    /* background-color: aqua; */
}
