.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}


.about .c2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 20px;
}



.about .c2in {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

/* nth child */

.about .c2in:nth-child(odd) {
    flex-direction: row-reverse;
}

.about .c2in:nth-child(odd) div {
    margin-right: 0px;
    width: 50%;
    min-width: 300px;
}

.about .c2in:nth-child(even) div {
    margin-left: 0px;
    width: 50%;
    min-width: 300px;
}

.about .c2in img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 45%;
    min-width: 300px;
    margin: 10px;
}



/* left animation */

.about .c2in:nth-child(odd) {
    animation: left 2s ease-in-out;
}

@keyframes left {
    0% {
        margin-left: -100px;
        opacity: 0;
    }

    100% {
        margin-left: 20px;
        opacity: 1;
    }
}

/* right animation */

.about .c2in:nth-child(even) {
    animation: right 2s ease-in-out;
}

@keyframes right {
    0% {
        margin-right: -100px;
        opacity: 0;
    }

    100% {
        margin-right: 20px;
        opacity: 1;
    }
}


.about .c11 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--col1);
    color: white;
    padding: 10px 20px;
}


