.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cart .progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 0px 10px;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.383);
    margin: 20px;
    min-height: 80px;
    align-items: center;
}

.cart .progress .c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress .c1 svg {
    width: 30px;
    height: 30px;
    color: var(--col3);
}

.progress .c1 span {
    font-size: 16px;
    font-weight: 400;
    color: var(--col3);
}


.progress .c11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress .c11 svg {
    width: 30px;
    height: 30px;
    color: var(--col2);
}

.progress .c11 span {
    font-size: 16px;
    font-weight: 400;
    color: var(--col2);
}





.cartcont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.383);
    margin: 20px;
}

.cartcont table {
    width: 100%;
    border-collapse: collapse;
}

.cartcont table .cartitemrow {
    border-bottom: 1px solid #e0e0e0;
}

.cartcont table .cartitemrow th {
    padding: 10px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    color: var(--col3);
}

.cartcont table .cartitemrow td {
    padding: 10px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
}

.cartcont table tr img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.cartcont .product {
    display: flex;
    width: 300px;
    cursor: pointer;
}

.cartcont .quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.cartcont .quantity button {
    width: 30px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: var(--col2);
    color: var(--col3);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

.cartcont .quantity span {
    width: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: white;
    color: var(--col3);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.cartcont .delbtn {
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    color: var(--col2);
    margin-left: 10px;
}

.cartcont .subtotal {
    width: 20%;
    align-self: flex-end;
    text-align: right;
    /* border: 1px solid #e0e0e0; */
}

.cartcont .subtotal tr {
    /* border: 1px solid #e0e0e0; */
}

.cartcont .subtotal tr td {
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 200;
    color: var(--col3);
}

.cartcont .subtotal tr td:last-child {
    font-weight: 700;
}

.emptycart {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.emptycart p {
    font-size: 20px;
    font-weight: 700;
    color: var(--col3);
}


.cart .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1200px;
    border-radius: 10px;
    margin: 20px;
}

.cart .btns button {
    min-width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--col2);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    margin: 5px;
}

.cart .btns button:hover {
    background-color: var(--col3);
    color: white;
}


/* shipping */
.shippingcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 70%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.383);
}

.shippingcont .previous {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
}

.shippingcont h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--col2);
    margin-bottom: 10px;
}

.shippingcont .radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.shippingcont .radio input {
    margin-right: 10px;
}

.shippingcont .radio p {
    font-size: 16px;
    font-weight: 700;
    color: var(--col3);
}

.shippingadd {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 10px 20px;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.383); */
    /* margin: 10px; */
}

.shippingadd input {
    width: 100%;
    height: 50px;
    border: 2px solid #cacaca;
    border-radius: 5px;
    background-color: white;
    color: var(--col3);
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px;
    margin-bottom: 10px;
}

.shippingadd button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--col2);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}


/* PAYMENT CONTAINER */
.paymentcont {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 50%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.383);
    margin: 10px;
    padding: 20px;
}

.paymentcont .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 10px 20px;

}

.paymentcont .left h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--col2);
    margin-bottom: 10px;
}

.paymentcont .left img {
    width: 80%;
    margin-left: 10px;
}

.paymentcont .paymenttypes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.paymenttypes .c1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
}

.paymentagreement {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.paymentagreement input {
    margin-right: 10px;
}

.paymentagreement label a {
    color: var(--col2);
}

.paymentcont .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 10px 20px;
}

.paymentcont .right table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.paymentcont .right table tr {
    border-bottom: 1px solid #e0e0e0;
}

.paymentcont .right table tr td {
    padding: 10px 0;
}

.paymentcont .right table tr {
    font-size: 16px;
    font-weight: 700;
    color: var(--col3);
}

.paymentcont .right table tr:first-child {
    font-weight: 700;
    color: var(--col2);
}

.paymentcont .right table tr td:last-child {
    text-align: right;
    width: 20%;
}

.paymentcont .right .c1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
}


/* //////////////////////////////////////////////////////////////////// */

.confirmationcont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 90%;
}

.confirmationcont .c1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.confirmationcont .c1 svg {
    width: 100px;
    height: 100px;
    color: var(--col2);
}

.confirmationcont .c1 h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--col2);
    margin-top: 10px;
}

.confirmationcont .c2 h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--col2);
    margin-top: 10px;
    width: 100%;
}

.confirmationcont .c2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.confirmationcont .c2 div {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.confirmationcont .c2 div p {
    width: 45%;

}

.confirmationcont .c2 div p:first-child {
    font-weight: 300;
    color: var(--col3);
    font-size: 15px;
}

.confirmationcont .c2 div p:last-child {
    font-weight: 600;
    color: var(--col3);
    font-size: 15px;
}

.confirmationcont .c3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.confirmationcont .c3 table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--col3);
    border-radius: 10px;
    margin-bottom: 20px;
}

.confirmationcont .c3 table tr {
    border: 1px solid var(--col3);

}

.confirmationcont .c3 table tr th {
    padding: 10px;
    border: 1px solid var(--col3);
    text-align: center;
}

.confirmationcont .c3 table tr td {
    padding: 10px;
    border: 1px solid var(--col3);
    text-align: center;
}

.confirmationcont .c3 .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

.confirmationcont .c3 .right div {
    display: flex;
    gap: 20px;
    min-width: 20%;
    justify-content: space-between;
}

.confirmationcont .c3 .right div p {
    font-weight: 300;
    color: var(--col3);
    font-size: 25px;
}

.shippingcont .shippingadd .postalcode {
    width: 100%;
    display: flex;
}


.totaltableleft{
    font-size: 18px;
    font-weight: 400;
}

.totaltableright{
    font-size: 21px;
    font-weight: 600;
    min-width: 100px;
}