.categorymenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categorymenu .c2 .c1 {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px 0px;
  background-color: white;
  /* padding: 20px; */
  border-radius: 25px;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.461); */
}

.categorymenu .c2 .c11 {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 2em; */
}

.categorymenu .c2 .searchbar {
  display: flex;
  align-items: space-between;
  border: 1px solid lightgray;
  border-radius: 25px;
  width: 60%;
  /* padding: 10px; */
  background-color: white;
  overflow: hidden;
  margin: 0px 10px;
}

.categorymenu .c2 .searchbar svg {
  /* margin-right: 0.5em; */
  width: 1.5em;
}

.categorymenu .c2 input[type='text'] {
  width: 90%;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  outline: none;
  font-weight: 400;

}

.categorymenu .selecttagout {
  /* padding: 0px 0px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 25px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center; */
}
.categorymenu .selecttagout  #dropdown-basic{
  background-color: inherit;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1em;
  color: #000000;
  padding: 10px 20px;
}




.categorymenu .c2 .header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--col2);
  background: url(../ASSETS/HomeSlider/slide-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}


.categorymenu .c2 .products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.categorymenu .c2 .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 20px 10px;
  background-color: white;
  /* border-radius: 25px; */
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.461); */
  overflow: hidden;
}

.categorymenu .c2 .productimage {
  width: 100%;
  height: 200px;
  /* aspect-ratio: 1/1; */
  background-color: #e0e0e0;
}

.categorymenu .c2 .productimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}


.categorymenu .c2 .productinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.categorymenu .c2 button {
  width: 90%;
  padding: 10px;
  margin: 5px 0px;
  font-size: 1em;
  border: none;
  outline: none;
  font-weight: 700;
  background-color: white;
  color: var(--col2);
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.119);
  border-radius: 10px;
}

.categorymenu .c2 .product:hover {
  transform: scale(1.05);
  transition: 1s ease;
}

.categorymenu .c2 .productinfo h3 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 100;
  margin: 0;
}

.categorymenu .c2 .productinfo p {
  min-width: 20%;
  align-self: center;
  font-size: 1.2em;
  color: var(--col2);
  font-weight: 700;
}

.categorymenu .c2 button:hover {
  background-color: var(--col2);
  color: white;
}



.c2 {
  display: flex;
  flex-direction: row;
  align-items: top;
  width: 100%;
  margin: 20px 0px;
  background-color: white;
  /* padding: 20px; */
  border-radius: 25px;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.461); */
}

.categorymenu .c2 .c12 {
  /* min-height: 100vh; */
  width: 100%;
}

.categorymenu .c2 .c12 p {
  background-color: var(--col1);
  color: var(--col3);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid rgb(230, 230, 230);
}

.categorymenu .c2 .c12 p:hover,
.categorymenu .c2 .c12 .active {
  background-color: white;
  color: var(--col2);
  border: 1px solid var(--col2);
  cursor: pointer;
}

.categorymenu .c2 .head2 {
  color: var(--col2);
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

.categorymenu .c2 .head3 {
  color: var(--col3);
  font-size: 40px;
  font-weight: 100;
  margin: 10px 0px;
  text-align: center;
}


/* filterbyprice */
.filterbyprice {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--col2);
  padding: 20px 0px;
}

.filterbyprice div {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* input type range */
.filterbyprice input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  margin: 0px 0;
}

.filterbyprice input[type="range"]:focus {
  outline: none;
}

.filterbyprice input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  background: var(--col2);
  border-radius: 1.3px;
  /* border: 0.2px solid #010101; */
}

.filterbyprice input[type="range"]::-webkit-slider-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

.filterbyprice p {
  margin: 0px 5px;
  font-size: 1.2em;
  font-weight: 700;
}

/*  */

.product1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 20px 0px;
  background-color: white;
  /* border-radius: 25px; */
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.461); */
  overflow: hidden;
}

.product1 .product1image {
  width: 100%;
  height: 250px;
  /* background-color: aqua; */
}

.product1 .product1image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.product1 .product1info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.product1 button {
  width: 90%;
  padding: 10px;
  margin: 5px 0px;
  font-size: 1em;
  border: none;
  outline: none;
  font-weight: 700;
  background-color: white;
  color: var(--col2);
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.119);
  border-radius: 10px;
}

.product1 .product1info h3 {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0px;
  text-align: center;
}
.product1 .product1incredecre{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px 0px;
  gap: 10px;
}
.product .productinfo span,
.product1 .product1info span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  text-decoration: line-through;
  margin-left: 10px;
}

.addonsproducts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}


.categorymenu .c2 .c2col1 {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  width: 20%;
  /* background-color: aqua; */
}

.categorymenu .c2 .c2col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* background-color: aqua; */
}

.categorymenu .c2 .incrdecr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}