.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer .s1 svg {
    height: 30px;
}

.footer .s1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0px 0px;
    padding: 60px 30px;
    background-color: var(--col2);
}

.footer .s1 .s11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20%;
    gap: 5px;
    text-align: center;
}

.footer .s1 h3 {
    font-size: 20px;
    font-family: 'Cinzel', serif;
}

.footer .s1 h4 {
    font-size: 14px;
    font-weight: 100;
}
.footer .s1 img{
    height: 30px;
}

.footer .s1 h5 {
    font-size: 19px;
}

.footer .s1 a {
    font-size: 14px;
    color: white;
    text-decoration: underline;
}

.footer .s2{
    display: flex;
    flex-direction: column;
}

.footer .s21{
    width: 50%;
    margin: 0px auto;
}