.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80vh;
}
.header img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}



@keyframes showup {
  0% {
      bottom: -100px;
      opacity: 0;
  }

  100% {
      bottom: 0;
      opacity: 0.8;
  }
}

.header h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  /* animation: showup 2s ease-in-out; */
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
  text-align: center;
}


/* bring text animating up */

.header div p {
  font-size: 20px;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  margin: 0 auto;
}


/* on scroll effect on div */

.header div button {
  background-color: var(--col1);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}