@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Cinzel', serif; */
  /* text-transform: lowercase; */
}


:root {
  --col1: #fff;
  --col2: #FF630F;
  --col3: #1b2024;
  --col4: #ffa16f;
}


.showup {
  animation: showup 2s ease-in-out;
}

/* bring text animating up */
.mainhead1 {
  color: black;
  font-size: 40px;
  font-weight: 400;
  padding: 5px 10px;
  margin-top: 10px;
  font-family: 'Cinzel', serif;

}
.mainhead2 {
  color: black;
  font-size: 35px;
  font-weight: 400;
  padding: 5px 10px;
  margin-top: 10px;
  font-family: 'Cinzel', serif;

}

.mainpg1 {
  color: black;
  font-size: 17px;
  font-weight: 400;
  max-width: 1500px;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Cinzel', serif;

}

.mainpg2 {
  color: var(--col3);
  font-size: 17px;
  font-weight: 600;
  max-width: 1000px;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Cinzel', serif;
}

.mainpg3 {
  color: black;
  font-size: 17px;
  font-weight: 400;
  max-width: 1500px;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Cinzel', serif;

}

.mainbutton1 {
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

.mainbutton1:hover {
  color: var(--col2);
  border-bottom: 1px solid var(--col2);
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}
p{
  margin: 0;
}

.backbtn{
  background: none;
  border: 1px solid var(--col2);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  margin: 1rem;
  cursor: pointer;
  color: var(--col2);
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
.backbtn:hover{
  background-color: var(--col2);
  color: white;
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}
.addons1out{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  margin: 20px 0px;
  /* background-color: #1b2024; */
}
.addons1{
  min-width: 300px;
}
.addons1 h1{
  color: gray;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 20px;
  padding: 0px;
  background-color: white;
  position: absolute;
  top: 0px;
  transform: translateY(-50%);
}

.addons1{
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: max-content;
  padding: 20px;
  margin: 10px 0px;
  position: relative;
}

.addons1 .checkbox{
  display: flex;
  gap: 10px;
  margin: 5px 5px;

}

/* change check color in input */
input[type="checkbox"] {
  /* -webkit-appearance: none; */
  -moz-appearance: none;
  /* appearance: none; */
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:checked {
  background: var(--col2);
  color: white;
}

@keyframes showup {
  0% {
    bottom: -100px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 0.8;
  }
}


.stylenone{
  text-decoration: none;
  color: var(--col3);
}


form input{
  border: 1px solid lightgray;
  padding: 10px 10px;
  border-radius: 5px;
}
form textarea{
  border: 1px solid lightgray;
  padding: 10px 10px;
  border-radius: 5px;
  resize: none;
}
form input:focus{
  outline: none;
  border: 1px solid var(--col2);
}
form textarea:focus{
  outline: none;
  border: 1px solid var(--col2);
}
form label{
  font-size: 14px;
  font-weight: 500;
  color: gray;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 5px;
}
form{
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  width: 100%;
  margin: 20px 0px;
}
form .form-container{
  display: flex;
  width: 100%;
  gap: 10px;
}
form .form-group{
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  width: 100%;
}
form button{
  border: 1px solid var(--col2);
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  width: 250px;
  align-self: center;
  margin: 20px 0px;
  color: var(--col2);
}

form button:hover{
  background-color: var(--col2);
  color: white;
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}